.card {
    text-align:left !important;
}
.title{
    text-align:center !important;
}
.row {
    justify-content:  center ;
    margin-right: -15px;
    margin-left: -15px;
}


.btn, .navbar .navbar-nav > a.btn {
background-color: #2e1558;
width: 100%;
color: #ffffff;
font-size: 1em;
}

.panel-header-sm{
    background-color: white;
  }

  .main-content{
    background-repeat: space;
    background-size: cover;
  }

#logMovalto
{
  float: right;
  position: relative;
  top: 15px;
  right: 20px;
  width: 222px;
  height: 100px;
}

.card{
    background:rgba(0,0,0,0.5);
    background-size: cover;
}

#bienvenido{
    color: #ffffff;
}

#navLogin{
    position: absolute;
    width: 100%;
    top: 130px;
    margin-left: 0px;
}

#grupo{
    color: #dedddd;
}

#cardLogin{
margin-top: inherit;
position:relative;
}

#imgUser{
    position: absolute;
}



.card label {
    font-size: 1em;
}

body {
    font-size: 15px;
}
a{
    font-size: 10px;
    
}

.col-md-4
{
    padding-left: 0px
}
.main-content {
    padding: 0px 0px 30px;
    min-height: calc(110vh - 123px);
}

#btnLogin{
    margin-left: -15px;
}



#inipassword
{
    width: 18%;
}

.main-content{
	overflow: hidden;
}

.panel-header-sm{
background-color:darkgray;
text-align-last: right;
}

form{
text-align-last: center;
background-color: white;
}

.btn{
    width: 20%;
}

button{
    margin-top: 3%;
  }

  input{
    margin-block: 1%;
  }